<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.image_picker_master">
    <!-- Permissions for file access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Permission for camera access -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission for audio recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permission for internet access (if needed for web content) -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
